@import url("../css/responsive.css");
@import url("../css/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
  background-repeat: repeat;
  margin: 0 auto;
  background-color: #fff;
  max-width: 1800px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-padding {
  padding: 60px 0;
}
.bg-light {
  background-color: #f8f8f8;
}
.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.section-tit {
  margin-bottom: 20px;
  color: #3b3937;
}

.box {
  content: "";
  position: absolute;
  top: 54%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/back-hend.png) no-repeat center/cover;
  z-index: -1;
  width: 1760px;
  height: 700px;
}
.site-header {
  background-color: #383838;
  color: #e0e0e0;
  padding: 15px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 40px;
}

.header-contact a:first-child {
  font-size: 0.85rem;
  margin-bottom: 2px;
}
.header-contact a:last-child {
  font-weight: bold;
  font-size: 1rem;
}
.header-contact a:hover {
  color: #fff;
}
.catalog-btn {
  margin-left: 30px;
}

.hero {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 10%;
  margin-bottom: 5em;
  margin-top: 3em;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 2;
  background-image: url(../img/back-head.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  padding: 20px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  overflow: hidden;
}
.hero-content h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 56px;
  margin-bottom: -2.5px;
}
.hero-content h3 {
  color: #ffd6a8;
  font-size: 1.2rem;
  font-weight: normal;
}
.hero-content p {
  color: #fff;
  margin-bottom: 56px;
}
.hero-content .btn-primary {
  background-color: #a0805d;
}

.line {
  display: block;
  height: 1px;
  border: none;
  border-top: 3px solid #dadada;
  margin: 1em 0;
  padding: 0;
}

.hero-nav {
  position: relative;
  display: inline-block;
  height: 50px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  border: none;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 10;
}

.arrow:hover {
  background: #a0a0a0;
  transform: scale(1.05);
}

.prev-arrow {
  left: -16px;
  z-index: 11;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.hero-content .nav-hero {
  margin-top: 5px;
}
.next-arrow {
  left: 30px;
}

.hero-container {
  position: relative;
}

.hero-nav {
  position: relative;
  top: -160px;
  left: 1040px;
}

.nav-hero {
  font-size: 24px;
  margin-bottom: -66px;
}

.info-blocks .section-padding {
  margin-top: 652em;
}

.info-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.info-flex > * {
  flex: 1 1 400px;
}

.info-block img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.info-block h2 {
  font-size: 1.8rem;
}
.showcase {
  background-color: #fff;
}

.showcase {
  padding: 40px 0;
  background-color: transparent;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 60px;
  display: flex;
  align-items: flex-start;
}

.showcase-tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.showcase-tabs li {
  margin-right: 0;
  flex-grow: 1;
}

.tab-btn {
  border: 1px solid #dadada;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.tab-btn.active {
  color: #3b3937;
  border-color: #3b3937;
}

.tab-btn:hover {
  color: #3b3937;
  border-color: #3b3937;
}

.product-card {
  background-color: #fff;
  border: 1px solid #dadada;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-info {
  flex-grow: 1;
  margin-bottom: 15px;
}

.product-colors {
  display: flex;
  align-items: center;
}

.product-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
  text-align: left;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  text-align: left;
}
.product-price-promo {
  font-size: 1.1rem;
  font-weight: bold;
  color: #b14101;
  text-align: left;
}

.product-buy-btn {
  color: #b14101;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
  margin-left: 40px;
  transition: 0.3s;
}

.product-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  max-width: 1200px;
  margin: 20px auto;
}
.product-flex > * {
  flex: 0 0 calc(33.333% - 20px);
  margin: 0 10px 20px 10px;
}

.color-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-left: 5px;
}
.color-dot:nth-child(1) {
  background-color: #3b3937;
}
.color-dot:nth-child(2) {
  background-color: #dadada;
}
.color-dot:nth-child(3) {
  background-color: #dadada;
}
.color-dot:nth-child(4) {
  background-color: #dadada;
}

.btn-buy {
  width: 100%;
  color: #b14101;
  margin-left: 8em;
}

.show-all-btn {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 1180px;
  border: 1px solid #8a6d4f;
  background: transparent;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 100px;
}

.bth-p {
  display: inline-block;
  padding: 0 20px;
  color: #8a6d4f;
  font-weight: bold;
  text-transform: uppercase;
}

.help-section {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.help-container {
  display: flex;
  max-width: 1209px;
  margin: 0 auto;
  height: 600px;
  flex-wrap: nowrap;
}

.help-image {
  flex: 1;
}

.help-image img {
  width: 640px;
  height: 600px;
  object-fit: cover;
}

.help-form-area {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/back-help.png);
}

.help-form {
  margin-top: 40px;
}

.help-form-area h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #333;
}

.help-form-area p {
  margin-bottom: 40px;
  color: #666;
  font-size: 1.1rem;
  line-height: 1.5;
}

.help-form input {
  width: 240px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #fff;
  font-size: 1rem;
  background-color: #fff;
}

.help-form input:focus {
  outline: none;
  border-color: #8a6d4f;
}

.help-submit-btn {
  width: 320px;
  padding: 16px;
  background-color: #a9845c;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.help-submit-btn:hover {
  background-color: #6d563d;
}

.article-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.article-flex > * {
  flex: 0 0 calc(33.333% - 33.333px);
  box-sizing: border-box;
}

.article-card {
  background-color: #fff;
  border: 1px solid #eee;
  width: 400px;
  height: 470px;
}

.article-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.article-card h4 {
  font-size: 1.1rem;
  padding: 20px 20px 0 20px;
  min-height: auto;
  font-family: "PermianSerifTypeface", serif;
  font-weight: 600;
  color: #333;
  line-height: 1.4;
}

.article-card p {
  font-size: 11px;
  padding: 5px 10px 0 20px;
  min-height: auto;
  font-family: "Gilroy";
  font-weight: 400;
  color: #b1b0af;
  line-height: 1.4;
}

.article-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1px 20px 20px 20px;
  margin-top: 15px;
}

.all-articles .all-articles-link {
  margin-top: 105px;
}

.article-date {
  font-size: 11px;
  color: #b1b0af;
}

.articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 20px;
}

.section-title {
  font-size: 4rem;
  margin: 0;
  color: #333;
}

.all-articles-link {
  padding: 10px 170px;
  font-size: 1rem;
  color: #3b3937;
  border: 1px solid rgba(68, 68, 68, 0.2);
}

.site-footer {
  background-color: #383838;
  background-image: url(../img/back-foot.png);
  color: #ccc;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 125px;
}

.footer-container > * {
  flex: 1 1 200px;
  max-width: calc(100% - 125px);
}
.footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer-col p,
.footer-col a {
  color: #ccc;
  margin-bottom: 8px;
  text-decoration: none;
}
.footer-col a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-col .footer-contact h1 a {
  color: #fff;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  position: relative;
}
.stat {
  display: flex;
  position: relative;
  top: 30px;
  right: 60px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-content p {
  margin: 5px 0;
}

.social-icons.stacked {
  display: flex;
  position: relative; /* с абсолюткой не получается. везде скачет поэтому релатив. при всем этом релатив есть у родительного элемента */
  bottom: 320px;
  right: -1100px;
}

.social-icons.stacked a {
  margin-left: -7px;
}

.social-icons.stacked img {
  width: 40px;
  height: 40px;
}

.social-icons.stacked a:nth-child(1) {
  z-index: 3;
}
.social-icons.stacked a:nth-child(2) {
  z-index: 2;
}

.social-icons.stacked a:nth-child(3) {
  z-index: 1;
}

.footer-logo img {
  height: 40px;
  margin-bottom: 15px;
}
.footer-info p {
  font-size: 0.85rem;
  line-height: 1.4;
}
.footer-contact p {
  line-height: 1.4;
}
.footer-links ul li,
.footer-nav ul li {
  margin-bottom: 8px;
}

.btn {
  display: inline-block;
  padding: 12px 40px;
  border: 1px solid transparent;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.btn-primary {
  background-color: #a9845c;
  color: #fff;
  margin-bottom: 75px;
  margin-top: 25px;
  position: absolute;
  top: -45%;
  left: -10%;
  z-index: 2;
}

.but {
  display: block;
  width: 145px;
  z-index: 1;
}

.catalog-btn {
  position: absolute;
  top: 17%;
  left: -21%;
  z-index: 2;
  cursor: pointer;
}

.btn-secondary {
  background-color: #a9845c;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #dcd5ca;
  border-color: #dcd5ca;
  color: #a9845c;
}
.btn-outline {
  background-color: transparent;
  color: #a9845c;
}
.btn-outline:hover {
  background-color: #f8f8f8;
  border-color: #a9845c;
}
.link-more {
  display: block;
  width: fit-content;
  margin-right: auto;
  color: #b14101;
}
.link-mores {
  display: inline;
  margin-left: 350px;
  margin-top: 1455px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #b14101;
}

.link-mored {
  display: inline;
  margin-left: 320px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 0.9rem;
  color: #b14101;
}

.nav-hero {
  color: #fff;
}

.catalog-btn {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button-wrapper {
  position: relative;
  display: inline-block;
}

.img-but {
  display: block;
  z-index: 1;
  position: relative;
}

.button-container {
  position: relative;
}

.button-icon {
  position: absolute;
  z-index: 2;
  top: 8%;
  left: 12%;
  pointer-events: none;
}

.show-all-btn {
  position: relative;
  z-index: 1;
  border: 1px solid rgba(68, 68, 68, 0.2);
}

.articles-header .container {
  position: relative;
}

.bth-s {
  margin-top: 65px;
  margin-right: 75px;
  z-index: 2;
}

.all-articles-link {
  position: absolute;
  left: 60%;
  z-index: 1;
}
